<h1>My Lists</h1>
<% @lists.each do |list| %>
  <div>
    <h3><%= link_to list.name, list_path(list) %></h3> <%= link_to "Delete List", list_path(list), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<p><%= link_to "Create List", new_list_path %></p>
