<h1 class="text-center">My Lists</h1>
<div class="cards">
  <% @lists.each do |list| %>
    <div class="each">
      <div class="card-category">
        <h3><%= link_to list.name, list_path(list) %></h3> <%= link_to "Delete List", list_path(list), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  <% end %>
</div>
<div class="bottom-message">
  <div class="text-center">
  <p><%= link_to "Create List", new_list_path %></p>
  </div>
</div>
